<!DOCTYPE html>
<html lang="ko">
  <%- include('head') -%>
  <body>
    <div class="signup">
      <div class="container-signup">
        <div class="wrap-signup">
          <div
            class="signup-header"
            style="background-image: url(images/bg-01.jpg);"
          >
            <span class="signup-header-title">
              우리집에 왜 왔니
            </span>
          </div>
          <form class="signup-form" action="/signup" method="POST">
            <div class="wrap-input" data-validate="이메일을 입력해주세요">
              <span class="label-input">이메일</span>
              <input
                class="signup-input"
                type="text"
                name="email"
                placeholder="이메일을 입력하세요"
                value="<%=user.userid%>"
              />
              <span class="signup-input-focus"></span>
            </div>
            <div class="wrap-input">
                <span class="label-input">프로필</span>
            <input type="hidden" name="thumbnail" value="<%=user.thumbnail%>"/>
              <div class="person w-50 mb-4">
                <img
                  src="<%=user.thumbnail%>"
                  alt="Image"
                  class="img-fluid rounded-circle w-25"
                />
              </div>
            </div>

            <div class="wrap-input" data-validate="닉네임을 입력해주세요">
              <span class="label-input">닉네임</span>
              <input
                class="signup-input"
                type="text"
                name="nickname"
                placeholder="닉네임을 입력하세요"
                value="<%=user.nickname%>"
              />
              <span class="signup-input-focus"></span>
            </div>
            <div class="wrap-input" data-validate="휴대폰번호를 입력해주세요">
              <span class="label-input">휴대폰 번호</span>
              <input
                class="signup-input"
                type="text"
                name="phone"
                placeholder="휴대폰 번호를 입력하세요"
              />
              <span class="signup-input-focus"></span>
            </div>

            <div class="signup-form-footer">
              <button class="signup-form-btn" type="submit">
                회원가입
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include('footer') -%>
  </body>
</html>
